* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.leftMenu {
  grid-area: left;
}

.midMenu {
  grid-area: mid;
}

.rightMenu {
  grid-area: right;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-template: 'left left  mid mid mid mid right right';
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffff;
  width: 90%;
  gap: 1px;
  padding: 10px;
}

.grid-container .leftMenu {
  border-right: 1px solid #eff3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-container .leftMenu .top .home a,
.grid-container .leftMenu .top .explore a,
.grid-container .leftMenu .top .comminities a,
.grid-container .leftMenu .top .notifications a,
.grid-container .leftMenu .top .messages a,
.grid-container .leftMenu .top .bookmarks a,
.grid-container .leftMenu .top .profile a,
.grid-container .leftMenu .top .more a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.grid-container .leftMenu .top .home a i,
.grid-container .leftMenu .top .explore a i,
.grid-container .leftMenu .top .comminities a i,
.grid-container .leftMenu .top .notifications a i,
.grid-container .leftMenu .top .messages a i,
.grid-container .leftMenu .top .bookmarks a i,
.grid-container .leftMenu .top .profile a i,
.grid-container .leftMenu .top .more a i {
  padding: 20px;
  font-size: 24px;
}

.grid-container .leftMenu .top .logo {
  font-size: 28px;
  text-decoration: none;
  color: #1d9bf0;
}

.grid-container .leftMenu .top .logo i {
  padding: 20px;
  font-size: 24px;
}

.grid-container .leftMenu .top .tweet {
  background-color: #1d9bf0;
  width: 12rem;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
}

.grid-container .leftMenu .top .tweet a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.grid-container .leftMenu .bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 65%;
  background-color: #eff3f4;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 50px;
  width: 12rem;
}

.grid-container .leftMenu .bottom .profil-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 50px;
}

.grid-container .leftMenu .bottom .profil-tag .photo {
  padding: 5px;
}

.grid-container .leftMenu .bottom .profil-tag .photo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.grid-container .leftMenu .bottom .profil-tag .nameInfo {
  margin: 10px 0 10px 5px;
}

.grid-container .leftMenu .bottom .profil-tag .nameInfo h4 {
  font-weight: bold;
}

.grid-container .leftMenu .bottom .profil-tag .nameInfo h5 {
  color: grey;
}

.grid-container .rightMenu {
  padding-left: 20px;
  border-left: 1px solid #eff3f4;
}

.grid-container .rightMenu .right-top input {
  background-color: #eff3f4;
  border: 1px solid #eff3f4;
  padding: 10px 10px 10px 20px;
  border-radius: 50px;
  width: 100%;
}

.grid-container .rightMenu .right-mid {
  background-color: #eff3f4;
  margin-top: 10px;
  border: 1px solid #eff3f4;
  border-radius: 20px;
}

.grid-container .rightMenu .right-mid h2 {
  font-weight: bold;
  padding: 10px;
}

.grid-container .rightMenu .right-mid .trend {
  padding: 10px;
}

.grid-container .rightMenu .right-mid .trend h5 {
  color: grey;
  padding: 5px;
}

.grid-container .rightMenu .right-mid .trend h4 {
  padding-left: 5px;
  font-weight: bold;
}

.grid-container .rightMenu .right-bottom {
  background-color: #eff3f4;
  margin-top: 10px;
  border: 1px solid #eff3f4;
  border-radius: 20px;
}

.grid-container .rightMenu .right-bottom .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
}

.grid-container .rightMenu .right-bottom .person a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
}

.grid-container .rightMenu .right-bottom .person .photoandnames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.grid-container .rightMenu .right-bottom .person .photoandnames img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.grid-container .rightMenu .right-bottom .person .photoandnames .personNames {
  padding-left: 10px;
}

.grid-container .rightMenu .right-bottom .person .photoandnames .personNames h5 {
  color: grey;
}

.grid-container .rightMenu .right-bottom .person .photoandnames .personNames h4 {
  padding-left: 5px;
  font-weight: bold;
}

.grid-container .midMenu .midTop {
  border-bottom: 1px solid #eff3f4;
}

.grid-container .midMenu .midTop .picandInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 10px;
}

.grid-container .midMenu .midTop .picandInput img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.grid-container .midMenu .midTop .picandInput input {
  padding: 15px;
  width: 100%;
  border: 1px solid white;
  font-size: 24px;
  color: #62727e;
}

.grid-container .midMenu .midTop .icons {
  margin-left: 60px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-container .midMenu .midTop .icons .tweettweet span {
  background-color: #1d9bf0;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
}

.grid-container .midMenu .midTop .icons .icon a i {
  padding: 10px;
  font-size: 18px;
}

.grid-container .midMenu .midTweets ul {
  width: 100%;
  list-style-type: none;
}

.grid-container .midMenu .midTweets ul li {
  font-size: 24px;
  text-align: start;
  padding: 20px;
  list-style-type: none;
  border: 1px solid #eff3f4;
}
/*# sourceMappingURL=style.css.map */